body {
    background-color: #baefff
}

#container {
    
    background-color: aliceblue;
width: 1200px;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}

img{
    display: block;
    margin: 0 auto;
    width: 1000px;
   border: 4px solid black;
}

nav {
    text-align-last: center;
    margin: 20px 0;
    
}

nav a {
    font-size: 24px;
    color: black
}

nav a:hover {
    text-decoration: none;
    
}

h1, h2, h3, h4, footer {
    text-align-last: center;
}

header{
    font-size: 45px;
    color: black;
    text-align-last: center;
}